
@font-face {
	font-family: ‘Myanmar3’;
	src: url('/fonts/mm3.ttf');
	font-weight: 400;
	font-style: normal;

}

body, table, form, textarea,h1,h2,h3,h4,h5,h6,ul,a  {font-family:'Myanmar3'!important;}

.text-primary ,.red{
	cursor: pointer;
}
#clone_one,#clone_two,#clone_three,#clone_four,#clone_five {
	display: none;
}
.form-horizontal .form-group {
    margin-left: 0px;
    margin-right: 0px;
}
.title {
	font-size: 20px;
}
.alert {
	margin-bottom: 0px;
}